.siteIcon--container {
	width: 32px;
	height: 32px;
	margin-right: 50px;
	background: var(--paleBlue);

	display: grid;
	place-items: center;
	border-radius: 5px;
	cursor: pointer;
}
.siteIcon--container > svg {
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--darkPurple);
}

@media only screen and (max-width: 400px) {
	.siteIcon--container {
		display: none;
	}
}
